<p id="notice"><%= notice %></p>

<h1>Medical Histories</h1>

<table>
  <thead>
    <tr>
      <th>Diaries</th>
      <th>Motivo consulta</th>
      <th>Fecha consulta</th>
      <th>Cdiagnostico</th>
      <th>Tratamiento seguir</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @medical_histories.each do |medical_history| %>
      <tr>
        <td><%= medical_history.diaries_id %></td>
        <td><%= medical_history.motivo_consulta %></td>
        <td><%= medical_history.fecha_consulta %></td>
        <td><%= medical_history.cdiagnostico %></td>
        <td><%= medical_history.tratamiento_seguir %></td>
        <td><%= link_to 'Show', medical_history %></td>
        <td><%= link_to 'Edit', edit_medical_history_path(medical_history) %></td>
        <td><%= link_to 'Destroy', medical_history, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Medical History', new_medical_history_path %>
