<p id="notice"><%= notice %></p>

<p>
  <strong>Sede:</strong>
  <%= @paciente.sede_id %>
</p>

<p>
  <strong>Responsable:</strong>
  <%= @paciente.responsable_id %>
</p>

<p>
  <strong>Tipo especie:</strong>
  <%= @paciente.tipo_especie_id %>
</p>

<%= link_to 'Edit', edit_paciente_path(@paciente) %> |
<%= link_to 'Back', pacientes_path %>
