<div id="<%= dom_id test2 %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Location:</strong>
    <%= test2.location_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Responsible:</strong>
    <%= test2.responsible_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Species:</strong>
    <%= test2.species_id %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this test2", test2, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to 'Edit this test2', edit_test2_path(test2), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
