<p id="notice"><%= notice %></p>

<p>
  <strong>Locations:</strong>
  <%= @speciality.locations_id %>
</p>

<p>
  <strong>Nombre:</strong>
  <%= @speciality.nombre %>
</p>

<%= link_to 'Edit', edit_speciality_path(@speciality) %> |
<%= link_to 'Back', specialities_path %>
