<div id="<%= dom_id diary %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Medical:</strong>
    <%= diary.medical_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Pet:</strong>
    <%= diary.pet_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Horario:</strong>
    <%= diary.horario %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Fecha:</strong>
    <%= diary.fecha %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this diary", diary, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to 'Edit this diary', edit_diary_path(diary), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
