<body class="bg-gray-100 font-sans leading-normal tracking-normal">
    <!--Container-->
    <div class="container w-full mx-auto pt-20">

      <nav class="bg-white border-gray-200 dark:bg-gray-900">
            <div class="flex flex-wrap justify-between items-center mx-auto max-w-screen-xl px-4 md:px-6 py-2.5">
                <a href="https://flowbite.com" class="flex items-center">
                    <img src="https://flowbite.com/docs/images/logo.svg" class="h-6 mr-3 sm:h-9" alt="Flowbite Logo" />
                    <span class="self-center text-xl font-semibold whitespace-nowrap dark:text-white">Mascota</span>
                </a>
            </div>
        </nav>
        <nav class="bg-gray-50 dark:bg-gray-700">
            <div class="max-w-screen-xl px-4 py-3 mx-auto md:px-6">
                <div class="flex items-center">
                    <ul class="flex flex-row mt-0 mr-6 space-x-8 text-sm font-medium">
                        <li>
                            <%= link_to "Mascotas", pets_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
                        </li>
                        <li>
                            <%= link_to 'Especies', species_index_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
                        </li>
                       
                        
                    </ul>
                </div>
            </div>
        </nav>

        <div class="w-full px-4 md:px-0 md:mt-8 mb-16 text-gray-800 leading-normal">

          <div class="flex flex-col">
            <div class="overflow-x-auto sm:-mx-6 lg:-mx-8">
              <div class="py-4 inline-block min-w-full sm:px-6 lg:px-8">
                <div class="overflow-hidden">
                  <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
                   <%= link_to 'Registra Una Especie', new_species_path %>
                  </button>
                  </a>
                  <table class="min-w-full text-center">
                    <thead class="border-b bg-gray-800">
                      <tr>
                        <th scope="col" class="text-sm font-medium text-white px-6 py-4">
                          #
                        </th>
                        <th scope="col" class="text-sm font-medium text-white px-6 py-4">
                          Vterinaria
                        </th>
                        <th scope="col" class="text-sm font-medium text-white px-6 py-4">
                          Dueño
                        </th>
                        <th scope="col" class="text-sm font-medium text-white px-6 py-4">
                          Nombre
                        </th>
                        <th scope="col" class="text-sm font-medium text-white px-6 py-4">
                          Especie
                        </th>
                        <th scope="col" class="text-sm font-medium text-white px-6 py-4">
                          Mostrar
                        </th>
                        <th scope="col" class="text-sm font-medium text-white px-6 py-4">
                          Editar
                        </th>
                        <th scope="col" class="text-sm font-medium text-white px-6 py-4">
                          Eliminar
                        </th>
                      </tr>
                    </thead class="border-b">
                    <tbody>
                      <p id="notice"><%= notice %></p>
                      <% @species.each do |specie| %>
                        <tr class="bg-white border-b">
                          <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">1</td>
                          <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
                            <%= specie.raza %>
                          </td>
                          <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
                            <%= specie.genero %>
                          </td>
                          <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
                            <%= specie.edad %>
                          </td>
                           <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
                            <%= specie.esterilizado %>
                          </td>
                          <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
                            <%= link_to 'Show', specie %>
                          </td>
                          <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
                            <%= link_to 'Edit this pet', edit_pet_path(specie), class: "mt-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
                          </td>
                          <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
                           <%= button_to 'Destroy this pet', pet_path(specie), method: :delete, class: "mt-2 rounded-lg py-3 px-5 bg-gray-100 font-medium" %>
                          </td>
                        </tr class="bg-white border-b">
                      <% end %>  
                    </tbody>
                  </table>
                </div>
              </div>
  </div>
</div>