<%= form_with(model: historial_medico) do |form| %>
  <% if historial_medico.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(historial_medico.errors.count, "error") %> prohibited this historial_medico from being saved:</h2>

      <ul>
        <% historial_medico.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :agenda_id %>
    <%= form.text_field :agenda_id %>
  </div>

  <div class="field">
    <%= form.label :motivo_consulta %>
    <%= form.text_field :motivo_consulta %>
  </div>

  <div class="field">
    <%= form.label :fecha_consulta %>
    <%= form.text_field :fecha_consulta %>
  </div>

  <div class="field">
    <%= form.label :cdiagnostico %>
    <%= form.text_field :cdiagnostico %>
  </div>

  <div class="field">
    <%= form.label :tratamiento_seguir %>
    <%= form.text_field :tratamiento_seguir %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
