<p id="notice"><%= notice %></p>

<h1>Medicals</h1>

<table>
  <thead>
    <tr>
      <th>Specialities</th>
      <th>Nombre</th>
      <th>Telefono</th>
      <th>Direccion residencia</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @medicals.each do |medical| %>
      <tr>
        <td><%= medical.specialities_id %></td>
        <td><%= medical.nombre %></td>
        <td><%= medical.telefono %></td>
        <td><%= medical.direccion_residencia %></td>
        <td><%= link_to 'Show', medical %></td>
        <td><%= link_to 'Edit', edit_medical_path(medical) %></td>
        <td><%= link_to 'Destroy', medical, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Medical', new_medical_path %>
