<p id="notice"><%= notice %></p>

<p>
  <strong>Medico:</strong>
  <%= @agenda.medico_id %>
</p>

<p>
  <strong>Paciente:</strong>
  <%= @agenda.paciente_id %>
</p>

<p>
  <strong>Horario:</strong>
  <%= @agenda.horario %>
</p>

<p>
  <strong>Fecha:</strong>
  <%= @agenda.fecha %>
</p>

<%= link_to 'Edit', edit_agenda_path(@agenda) %> |
<%= link_to 'Back', agendas_path %>
