<p id="notice"><%= notice %></p>

<p>
  <strong>Locations:</strong>
  <%= @pacient.locations_id %>
</p>

<p>
  <strong>Responsibles:</strong>
  <%= @pacient.responsibles_id %>
</p>

<p>
  <strong>Species:</strong>
  <%= @pacient.species_id %>
</p>

<%= link_to 'Edit', edit_pacient_path(@pacient) %> |
<%= link_to 'Back', pacients_path %>
